<div style="text-align:center">
   <mat-toolbar style="background:#141414">
      <mat-toolbar-row>
        <span style="color:white"> Welcome to {{ title }}!</span>
      </mat-toolbar-row>
    </mat-toolbar>
</div>
<br>
<!-- <app-viewjson> </app-viewjson> -->


<!-- <router-outlet></router-outlet> -->
<!-- <div class="container">
  <div class="row p-4">
    
    <div class="col-md-3">
      <app-lis-json></app-lis-json>
    </div>
    <div class="col-md-9">
      <app-viewjson> </app-viewjson>
    </div>
  </div>
</div> -->
<app-lis-json></app-lis-json>